* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}

.box{
    background: pink;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
}

#count {
    font-size: 3rem;
    margin: 20px 0;
}

.buttons button {
    padding: 10px 15px;
    margin: 3px;
    font-size: 1rem;
    cursor: pointer;
}

.positive {
    color: green;
}

.zero {
    color: black;
}

.negative {
    color: red;
}

