* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#ece9e6,#ffffff);
}

.box{
    background: white;
    padding: 40px 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgb(0,0,0,.35);
    width: 400px;
    transition: all 0.3s ease;
}

#count {
    font-size: 4rem;
    font-weight: bold;
    margin: 20px 0;
    transition: all 0.3s ease, transform 0.2s ease;
}

.buttons button,
#toggleNegative {

    margin :0;
    padding: 8px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #6c63ff;
    color: white;
    transition: all 0.2s ease;

}
.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
#toggleNegative {
    
    margin-top: 20px;
    margin-bottom: 12px;
    width: 100%;
}
.buttons button:hover,
#toggleNegative:hover {
    background: #574fd6;
    transform: scale(1.05);
}

.buttons button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.buttons button:active {
    transform: scale(0.95);
}
.positive {
    color: green;
}

.zero {
    color: black;
}

.negative {
    color: red;
}

